<!doctype html>
<html>
   <body>

    <a href="/">HOME</a>
    <a href="/Signup">Add New Student</a>
    <a href="/list">List Student</a>
    <br><hr>

    {{ msg }}

      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>phone number</td>
         </thead>
         
         {% for row in customer %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["address"]}}</td>
               <td> {{ row["city"]}}</td>
               <td>{{row['phonenumber']}}</td>	
            </tr>
         {% endfor %}
      </table>
     

   </body>
</html>